.header{
  height: 100px;
  margin-bottom: 30px;
  background-color: #1d4289;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-top: 6px solid #006ad1;
  &__container{
    box-sizing: content-box;
    width: 1152px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  &__title{
    width: 290px;
    color: #ffffff;
    font-size: 36px;
    font-weight: 900;
    line-height: 33px;
    text-decoration: none;
  }

  &__searchField{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    background-color: #ffffff;
    font-size: 16px;
    -webkit-appearance: none;
    border: 1px solid gray;
    outline: none;
    padding: 13px 20px;
  }

}
.row {
  display: flex;
  justify-content: center;
  text-align: left;
  .category-filter{
    padding: 0 20px;
    ul {
      padding: 0;
      li {
        list-style: none;
        margin: 4px 0;
  
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}
